*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

#like{
    height: 400px;
    width: 350px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

#like img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#like i{
    color: white;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity:0.8;
    transition: all ease 0.5s;
}